{% extends 'admin/master.html' %}

{% block body %}
            <h3 class="text-center" >Welcome to BNHS Registration Admin</h3>
            <p class="text-center"> 
            ALERT! You are entering into a secured area! Your IP, Login Time, Username has been noted and has been sent to the server administrator!
            This service is restricted to authorized users only. All activities on this system are logged.
            Unauthorized access will be fully investigated and reported to the appropriate law enforcement agencies.
            </p>
{% endblock %}
