html {
  position: relative;
  min-height: 100%;
}

/*Centering rows*/
.row-centered {
    text-align:center;
    }

.col-centered {
    text-align:center;
    }    

body { 
    font-family: sans-serif; 
    }

h3 {
    font-family: sans-serif; 
    color: #377ba8; 
    }

/*Footer*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #3d3a3a;
}
.container .text-muted {
    margin: 20px 0;
    text-align:right;
    color: #818385;
}

@font-face {
    font-family: 'Helv';
    src: url('HelveticaNeue-UltraLight.otf');
}

@font-face {
    font-family: 'Helv-Cond';
    src: url('HelveticaNeue-UltraLigCond.otf');
}

.helv-font{
    font-family: Helv;
    font-weight: lighter;
}
.helv-font-p{
    font-family: Helv;
    font-size: 20px;
}
