{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} BNHS-User {% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

        {% block page_content %}
        <div class="page-header">
            <h1>Registration of Bambang National High School</h1>
        </div>
<div class="container">
<div class="row">
    <div class="col-md-3 scrollspy"> 
    <ul id="nav" class="nav hidden-xs hidden-sm" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
    <li><a href="#bnhs">BNHS</a></li>
    <li><a href="#mission">Mission</a></li>
    <li><a href="#vision">Vision</a></li>
    <li><a href="#photos">Photos</a></li>
<li>        {{ form.csrf_token }}
        {{ wtf.quick_form(form) }} </li>
    </ul>
    </div> <!-- col-->

    <div class="col-md-9">

        <section id="bnhs">
<div class="container">
    <div class="col-md-9">
    <p>Maka-Diyos
Maka-Tao
Makakalikasan
Makabansa </p>
</div> <!-- col9-->
</div> <!-- container-->
        </section>

        <section id="mission">
<div class="container">
    <div class="col-md-9">
    <p>To protect and promote the right of every filipino to quality, equitable, culture-based, and complete basic education where: Students learn in a child-friendly, gender-sensitive, safe, and motivating environment Teachers facilitate learning and constantly nurture every learner Administrators and staff, as stewards of the institution, ensure an enabling and supportive environment for effective learning to happen Family, community, and other stakeholders are actively engaged and share responsibility for developing life-long learners </p>
</div> <!-- col9-->
</div> <!-- container-->
        </section>
        <section id="vision">
<div class="container">
    <div class="col-md-9">
    <p>We dream of filipino who passionately love their country and whose values and competencies enable them to realize their full potential and contribute meaningfully to building the nation. the department of education continuously improve itself to better serve its stakeholders </p>
</div> <!-- col9-->
</div> <!-- container-->
        </section>

        <section id="photos">
        <a class="twitter-grid" data-limit="10" href="https://twitter.com/makudesu_/timelines/738248982414036992">BNHS</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </section>
    </div> <!-- md-9-->
</div> <!-- row -->
</div> <!-- container -->
        {% endblock %}
</div>
{% endblock %}
