<html>
{% extends "base.html" %}

{% block title %} BNHS-User {% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}
    <div class="page-header">
        <h1>Congratulations you've finished high school</h1>
    </div>
<p class="text-center">
Congratulatory messages to Graduates:<br />

    It must be a very proud moment for you. Chasing a dream requires your efforts and passion. Hard work isn't over when you graduated. It's just a break as you enter the new battlefields of life. Good luck and congratulations!<br />

    You truly deserve the success! I'm sure that on your graduation day you feel a lot smarter. In my message I wish you to set your goals high, and won't stop till you get there!<br />

    Congratulations graduate! Your parents proud of you. Best wishes for your career ahead!<br />

    You are now in the half way. May your graduation from school be the beginning of a bright future for you. Best Wishes for a wonderful college years!<br />

    You will make mistakes and be wounded many times in your life. Don't give in - it's just an experience. Wishing you to find your own star and reach for it!<br />

    Remember the past, live in the present and look forward to the future! May your graduation be just the beginning of a lifetime of fulfillment for you.<br />

    And so... The adventure begins! Congratulations on your graduation!


</p>

    {% endblock %}
</div>
{% endblock %}
{% include "footer.html" %}
</html>
