{% extends "base.html" %}
{% block styles %}
{{super()}}
{% endblock %}
{% block title %} BNHS {% endblock %}
{% block page_content %}
<div class="page-header">
    <div class="jumbotron vertical-center">
        <div class="container">
        <h1>BNHS</h1>
            <p class="lead">Bambang National High School <br> Address: Boyie St,Pan - Philippine Hwy,Buag, Bambang, Nueva Vizcaya, Philippines<br>Phone:+63 78 803 1587<p>
        <hr class="m-y-2">
            <p>Join us. Enroll now!</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ url_for('signup') }}" role="button">Sign up today</a>
      </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3 class="text-center" >Mission</h3>
    To protect and promote the right of every filipino to quality, equitable, culture-based, and complete basic education where:

    Students learn in a child-friendly, gender-sensitive, safe, and motivating environment

    Teachers facilitate learning and constantly nurture every learner

    Administrators and staff, as stewards of the institution, ensure an enabling and supportive environment for effective learning to happen

    Family, community, and other stakeholders are actively engaged and share responsibility for developing life-long learners
        </div>

        <div class="col-sm-4">
            <h3 class="text-center" >Vision</h3>
    We dream of filipino who passionately love their country and whose values and competencies enable them to realize their full potential and contribute meaningfully to building the nation.

            the department of education continuously improve itself to better serve its stakeholders
        </div>

        <div class="col-sm-4">
            <h3 class="text-center" >Core values</h3>
        Maka-Diyos<br>
        Maka-Tao<br>
        Makakalikasan<br>
        Makabansa
        </div>

{% endblock %}
