{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} BNHS-User {% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}
    <div class="page-header">
        <h1>Register</h1>
    </div>
    {{ form.csrf_token }}
    {{ wtf.quick_form(form) }}
    {{ form.recaptcha }}
    {% endblock %}
</div>
{% endblock %}
